#{extends 'main.html' /}
#{set title:'Restaurant' /}

<ul class="breadcrumb">
    <li>
        <a href="/restaurants/menus">Menus</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@{show(menu.id)}">${menu.name}</a> <span class="divider">/</span>
    </li>
    <li class="active">Edition</li>
</ul>

<h1>Menu edition : ${menu.name}</h1>
<hr>

<div class="row">
    <div class="span6">
        #{form @saveEdit(menu.id)}
            <fieldset>
                #{field 'name'}
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="input" id="name" name="name" value="${menu.name}">
                        </div>
                    </div>
                #{/field}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary">Save</button>
                        <button class="btn btn-large" href="@{show(menu.id)}">Cancel</button>
                    </div>
            </fieldset>
        #{/form}
    </div>
</div>