#{extends 'main.html' /}
#{set title:'Restaurant' /}

<ul class="breadcrumb">
    <li>
        <a href="/restaurants/menus">Menus</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@{show(menu.id)}">${menu.name}</a> <span class="divider">/</span>
    </li>
    <li class="active">Edition Item list</li>
</ul>

<h1>Manage Menu List Items</h1>
<hr>

<div class="span12">
    #{form @saveEditListItem(menu.id)}
        <div class="row">
            #{list categories, as:'category'}
                <div class="span3">
                    <div class="page-header">
                        <h1>${category.name}</h1>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list category.listItems, as:'item'}
                                <tr>
                                    <td><input type="checkbox" name="item" value="${item.id}"/></td>
                                    <td>${item.name}</td>
                                    <td>${item.price} $</td>
                                </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
            #{/list}
        </div>
        <p class="buttons">
            <input type="submit" value="Save"> <a href="@{show(menu.id)}">Cancel</a>    
        </p>
    #{/form}
</div>