#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="jumbotron subhead" id="overview">
    <h1>Menu list</h1>
</header>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Menu</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        #{if !menus.isEmpty()}
            #{list menus, as:'menu'}
                <tr>
                    <td>#{a @show(menu.id)}${menu.name}#{/a}</td>
                    <td>
                    #{if menu.currentMenu == true}
                        X
                    #{/if}
                    </td>
                    <td>${menu.creationDate}</td>
                </tr>
            #{/list}
        #{/if}
        #{else}
            <tr>
                <td colspan="3">No menu created</td>
            </tr>
        #{/else}
    </tbody>
</table>



<h2>Add menu:</h2>

<form id="post" action="@{Menus.saveCreate}" method="POST">
    <p>
        <label>Name</label>
        <input type="text" name="name" id="Name" />
        <input type="submit" value="Create" id="postRestaurant" />
    </p>
</form>