#{extends 'main.html' /}
#{set title:'Restaurant' /}

<h1>Menu</h1>
#{a @edit(menu.id)}Edit#{/a}</br>
#{a @destroy(menu.id)}Delete#{/a}
</br></br>
Name : ${menu.name}</br>
Creation Date : ${menu.creationDate}

</br>


<div class="page-header">
    <h1>
        List items
    </h1>
</div>
#{a @editListItem(menu.id)}Manage List Item#{/a}</br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{if !menu.listItems.isEmpty()}
            #{list items, as:'item'}
                <tr>
                    <td>#{a @show(item.id)}${item.name}#{/a}</td>
                    <td>${item.price}</td>
                    <td>${item.type}</td>
                    <td>#{a @destroy(item.id)}Delete#{/a}</td>
                </tr>
            #{/list}
        #{/if}
        #{else}
            <tr>
                <td colspan="4">No Items</td>
            </tr>
        #{/else}
    </tbody>
</table>


