#{extends 'main.html' /}
#{set title:'YouFood - Clients' /}

<header class="jumbotron subhead">
    <h1>Card</h1>
    #{a @Clients.menu(card.restaurant.id,card.table.id)}Back#{/a}
</header>

<div class="row">
    <div class="span8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Price</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                #{if card != null}
                    #{list card.listItems, as:'item'}
                        <tr>
                            <td>${item.name}</td>
                            <td>${item.price}</td>
                            <td>#{a @Cards.deleteItem(card.table.id, item.id)}Delete#{/a}</td>
                        </tr>
                    #{/list}
                #{/if}
                #{else}
                    <tr>
                        <td colspan="3">No Items</td>
                    </tr>
                #{/else}
            </tbody>
        </table> 
        #{if card != null}
            <h3>Subtotal : ${card.totalPrice} $</h3><br/>
            #{a @Orders.saveCreate(card.restaurant.id, card.id)}CHECKOUT#{/a}
        #{/if}
    </div>
</div>
