#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header">
    <h1>Configuration Card</h1>
</header>

#{if !listTables.isEmpty()}
<form id="post" action="@{Clients.saveConfig(restaurant.id)}" method="POST">
    <p>
        <label>N°Table :</label>
        <select class="span1" name="table_id">
            #{list listTables, as:'table'}
                <option values="${table.id}">${table.id}</option>
            #{/list}
        </select>
    </p>
    <p>
        <input type="submit" value="Save" id="postConfigClient" />
    </p>
</form>
#{/if}
#{else}
    No table created<br/>
    #{a @Restaurants.show(restaurant.id)}Back to ${restaurant.city}#{/a}
#{/else}




