#{extends 'main.html' /}
#{set title:'YouFood - Clients' /}

<header class="jumbotron subhead">
    <h1>Menu/${category.name}</h1>
    #{a @Clients.menu(restaurant.id)}Back#{/a}
</header>

<div class="row">
    <div class="span8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                #{list listItemsMenuCategory, as:'item'}
                    <tr>
                        <td>${item.name}</td>
                        <td>${item.price}</td>
                        <td>#{a @Card.edit(restaurant.id, category.id)}Add#{/a}</td>
                    </tr>
                #{/list}
            </tbody>
        </table> 
    </div>
    
    <div class="span4">
        <h2>Panier</h2>
    </div>
</div>
