#{extends 'Clients/mainClient.html' /}
#{set title:'YouFood - Clients' /}

<a href="@{Clients.menu(restaurant.id,table.id)}" data-role="button" data-icon="back" data-iconpos="notext">Home</a>
<div class="span6">
    <header class="page-header">
        <h1>Menu/${category.name}</h1>
    </header>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top">Select your category and pick which item you want</li>
        #{list listItemsMenuCategory, as:'item'}
            <li>
                <a>
                    <h2>${item.name}</h2>
                    <p>Description...</p>
                    <p class="ui-li-aside">${item.price} $</p>
                </a>
                <a href="@{Cards.createItem(table.id, item.id)}" data-icon="plus" data-transition="slideup">Add to Card</a>
            </li>
        #{/list}
    </ul>
</div>

<div class="span4">
    <header class="page-header">
        <h1>Card</h1>
    </header>  
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top">List items</li>
            #{if card != null}
                #{list card.listItems, as:'item'}
                    <li data-icon="minus">
                        <a href="@{Cards.deleteItem(table.id, item.id)}">
                            <h2>${item.name}</h2>
                            <p class="ui-li-aside">${item.price} $</p>
                            <p class="ui-li-aside">${item.quantity}</p>
                        </a>
                    </li>
                #{/list}
            #{/if}
            #{else}
                <li>
                    No Items
                </li>
            #{/else}

    </ul>
    <br/>
    <h3>Subtotal : #{if card != null}${card.totalPrice} $#{/if}#{else}0 $#{/else}</h3><br/>
    #{if card != null}
        <a href="@{card(restaurant.id,table.id)}" data-role="button" data-iconpos="top" data-icon="check" data-theme="e">CHECKOUT & ORDER</a>
    #{/if}
</div>