#{extends 'main.html' /}
#{set title:'YouFood - Clients' /}

<header class="jumbotron subhead">
    <h1>Menu</h1>
    #{a @Clients.index(restaurant.id)}Home#{/a}
</header>

<div class="row">
    <div class="span8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                #{list categories, as:'category'}
                    <tr>
                        <td>#{a @items(restaurant.id, category.id)}${category.name}#{/a}</td>
                    </tr>
                #{/list}
            </tbody>
        </table> 
    </div>
    <div class="span4">
        <h2>Panier</h2>
    </div>
</div>
