#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header">
    <h1>Add Waiter</h1>
</header>

#{form @Waiters.saveCreate(restaurant.id)}
    #{field 'firstName'}
        <p>
            <label>FirstName</label>
            <input type="text" name="firstName" id="firstName" />
        </p> 
    #{/field}
    #{field 'lastName'}
        <p>
            <label>LastName</label>
            <input type="text" name="lastName" id="lastName" />
        </p> 
    #{/field}
    <p class="buttons">
        <input type="submit" value="Save">
    </p>
#{/form}


