#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header">
    <h1>Current Orders : ${restaurant.city}</h1>
</header>

<section id="ordersList">
    <div class="row">
        #{if !orders.isEmpty()}
            #{list orders, as:'order'}
                <div class="span4">
                    <div class="well">
                        <div class="page-header">
                            <h1>Table #${order.table.id}</h1>
                        </div>
                        <h3>Time :  ${order.date}</h3>
                        <h3>Subtotal : ${order.totalPrice} $</h3>
                        <h3>Item list</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                #{list order.listItems, as:'item'}
                                    <tr>
                                        <th>${item.name}</th>
                                        <th>${item.price}</th>
                                    <tr>
                                #{/list}
                            </tbody>
                        </table>
                    </div>
                </div>
            #{/list}
        #{/if}
        #{else}
            <div class="span12">
                No Orders
            </div>
        #{/else}
    </div>
</section>

