#{extends 'Waiters/mainWaiter.html' /}
#{set title:'Restaurant' /}

<div class="span12">
    <header class="page-header">
        <h1>Current Orders</h1>
    </header> 
    #{if !listCurrentOrders.isEmpty()}
        #{list listCurrentOrders, as:'order'}
            <div class="span5">
                <ul data-role="listview" data-inset="true" data-theme="d">
                    <li data-role="list-divider">Table #${order.table.numTable}</li>
                    <li data-icon="gear">
                        <a href="@{Waiters.showCurrentOrderDetailed(restaurant.id,order.id)}">
                            <div class="row">
                                <div class="span3">
                                    <h3>Date :  ${order.date.format('dd MMMM yyyy')}</h3>
                                </div>
                                <h3>Order at :  ${order.date.format('HH:mm')}</h3>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price $</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    #{list order.listItems, as:'item'}
                                        <tr>
                                            <th>${item.name}</th>
                                            <th>${item.price}</th>
                                        </tr>
                                    #{/list}
                                </tbody>
                            </table>
                            <h3>Subtotal HT: ${order.totalPriceHT} $</h3>
                        </a>
                    </li>
                </ul>
            </div>
        #{/list}
    #{/if}
    #{else}
        <div class="span12">
            No Orders
        </div>
    #{/else}
</div>
