#{extends 'Waiters/mainWaiter.html' /}
#{set title:'Restaurant' /}
<div data-role="navbar">
    <ul>
        <li><a href="@{Waiters.showStatusTables(restaurant.id)}" class="ui-btn-active">Status Tables</a></li>
        <li><a href="@{Waiters.showOrders(restaurant.id)}">Current Order</a></li>
        <li><a href="@{Waiters.showPreviousOrders(restaurant.id)}">Previous Order Day</a></li>
    </ul>
</div><!-- /navbar -->
<div class="span12">
    <header class="page-header">
        <h1>Status Tables</h1>
    </header> 
    #{if !listTables.isEmpty()}
        #{list listTables, as:'table'}

        #{/list}
    #{/if}
</div>
