#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="jumbotron subhead" id="overview">
    <h1>Orders list</h1>
</header>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Heure</th>
            <th>Table</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        #{if !orders.isEmpty()}
            #{list orders, as:'order'}
                <tr>
                    <td>#{a @show(order.id)}${order.date}#{/a}</td>
                    <td>${order.table.numTable}</td>
                    <td>${order.totalPrice}</td>
                </tr>
            #{/list}
        #{/if}
        #{else}
            <tr>
                <td colspan="3">No order created</td>
            </tr>
        #{/else}
    </tbody>
</table>

