#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header">
    <h1>Add Restaurant</h1>
</header>

<div class="row">
    <div class="span12">
        <form class="form-horizontal" id="post" action="@{Restaurants.saveCreate}" method="POST">
            <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="country">Country</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="country" name="country">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="city" name="city">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="address" name="address">
                        </div>
                    </div>
                    <div class="controls">
                        <input type="submit" value="Create" id="postRestaurant" />
                    </div>
            </fieldset>
        </form>
    </div>
</div>



