#{extends 'main.html' /}
#{set title:'Restaurant' /}

<h1>Add Restaurant</h1>

<form id="post" action="@{Restaurants.saveCreate}" method="POST">
        <p>
            <label>Country</label>
            <input type="text" name="country" id="Country" />
        </p>
        <p>
            <label>City</label>
            <input type="text" name="city" id="city" />
        </p>
        <p>
            <label>Address</label>
            <input type="text" name="address" id="Address" />
        </p>
        <p>
            <input type="submit" value="Create" id="postRestaurant" />
        </p>
</form>




