#{extends 'main.html' /}
#{set title:'Restaurant' /}

<ul class="breadcrumb">
    <li>
        <a href="/restaurants">Restaurants</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@{show(restaurant.id)}">${restaurant.city}</a> <span class="divider">/</span>
    </li>
    <li class="active">Edition</li>
</ul>

<h1>Restaurant edition : ${restaurant.city}</h1>
<hr>

<div class="row">
    <div class="span6">
        #{form @saveEdit(restaurant.id)}
            <fieldset>
                #{field 'country'}
                    <div class="control-group">
                        <label class="control-label" for="country">Country</label>
                        <div class="controls">
                            <input type="text" class="input" id="country" name="country" value="${restaurant.country}" />
                        </div>
                    </div>
                #{/field}
                #{field 'city'}
                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <input type="text" class="city" id="city" name="city" value="${restaurant.city}" />
                        </div>
                    </div>
                #{/field}
                #{field 'address'}
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            <input type="text" class="address" id="address" name="address" value="${restaurant.address}" />
                        </div>
                    </div>
                #{/field}
                <div class="form-actions">
                    <button type="submit" class="btn btn-large btn-primary">Save</button>
                    <button class="btn btn-large" href="@{show(restaurant.id)}">Cancel</button>
                </div>
            </fieldset>
        #{/form}
   </div>
</div>
