#{extends 'main.html' /}
#{set title:'Restaurant' /}

<h1>Restaurant list</h1>
#{a @create()}Add Restaurant#{/a}
</br></br>

#{if !restaurants.isEmpty() }
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Address</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            #{list restaurants, as:'restaurant'}
                <tr>
                    <td>#{a @show(restaurant.id)}${restaurant.city}#{/a}</td>
                    <td>${restaurant.address}</td>
                    <td>${restaurant.country}</td>
                </tr>
            #{/list}
        </tbody>
    </table> 
#{/if}
#{else}
    No restaurant create</br>
#{/else}
</br>
#{if !menus.isEmpty()}
    #{form @saveEditMenu()}
        #{field 'menu_id'}
            <p>
                <label>Current Menu</label>
                    <select name="menu_id">
                        #{list menus, as:'menu'}
                            #{if menu.currentMenu == true}
                                <option selected="selected" value=${menu.id}>
                                    ${menu.name}
                                </option>
                            #{/if}
                            #{else}
                                <option value=${menu.id}>
                                    ${menu.name}
                                </option>
                            #{/else}
                        #{/list}
                    </select>
                <input type="submit" value="Change" id="postCurrentMenu" />
            </p> 
        #{/field}
    #{/form}
#{/if}
#{else}
    No menu create
#{/else}