#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header">
    <h1>Item edit : ${item.name}</h1>
</header>

<div class="row">
    <div class="span12">
        #{form @saveEdit(item.id)}
            <fieldset>
                #{field 'name'}
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" name="name" value="${item.name}">
                        </div>
                    </div>
                #{/field}
                #{field 'price'}
                    <div class="control-group">
                        <label class="control-label" for="price">Price</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="price" name="price" value="${item.price}">
                        </div>
                    </div>
                #{/field}
                #{field 'description'}
                    <div class="control-group">
                        <label class="control-label" for="desc">Description</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="desc" name="description" value="${item.description}">
                        </div>
                    </div>
                #{/field}
                    <div class="controls">
                        <input type="submit" value="Create" id="postCateogry" />
                    </div>
            </fieldset>
        #{/form}
    </div>
</div>

