#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="jumbotron subhead" id="overview">
    <h1>Item edit : ${item.name}</h1>
</header>

#{form @saveEdit(item.id)}
    #{field 'name'}
        <p>
            <label>Name</label>
            <input type="text" name="name" id="name" value="${item.name}"/>
        </p> 
    #{/field}
    #{field 'price'}
        <p>
            <label>Price</label>
            <input type="text" name="price" id="price" value="${item.price}"/>
        </p> 
    #{/field}
    #{field 'type'}
        <p>
        <label>Type</label>
            <select name="type" id="type">
                <option value="Meat">Meat</option>
                <option value="Vegetable">Vegetable</option>
                <option value="Dessert">Dessert</option>
            </select>
        </p> 
    #{/field}
    <p class="buttons">
        <input type="submit" value="Save"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}




