#{extends 'main.html' /}
#{set title:'Restaurant' /}

<h1>Item list</h1>
#{a @create()}Add Item#{/a}
</br>
</br>
#{if !items.isEmpty()}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            #{list items, as:'item'}
                <tr>
                    <td>${item.name}</td>
                    <td>${item.price}</td>
                    <td>${item.type}</td>
                    <td>#{a @edit(item.id)}edit#{/a}</td>
                </tr>
            #{/list}
        </tbody>
    </table> 
#{/if}
#{else}
    No item create</br>
#{/else}

