#{extends 'main.html' /}
#{set title:'Restaurant' /}

<ul class="breadcrumb">
    <li>
        <a href="/restaurants/categories">Categories</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@{Categories.show(category.id)}">${category.name}</a> <span class="divider">/</span>
    </li>
    <li class="active">Edition</li>
</ul>

<h1>Category edition : ${category.name}</h1>
<hr>

<div class="row">
    <div class="span6">
        #{form @saveEdit(category.id)}
            <fieldset>
                #{field 'name'}
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="input" id="name" name="name" value="${category.name}">
                        </div>
                    </div>
                #{/field}
                #{field 'description'}
                    <div class="control-group">
                        <label class="control-label" for="desc">Description</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="desc" name="description" value="${category.description}">
                        </div>
                    </div>
                #{/field}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary">Save</button>
                        <button class="btn btn-large" href="@{show(category.id)}">Cancel</button>
                    </div>
            </fieldset>
        #{/form}
    </div>
</div>