#{extends 'main.html' /}
#{set title:'Restaurant' /}

<h1>Category : ${category.name}</h1>
<h2>Items list</h2>
#{a @edit(category.id)}Edit Item#{/a}</br>
#{a @destroy(category.id)}Delete Item#{/a}</br>
#{a @Items.create(category.id)}Add Item#{/a}

</br>
</br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{if !items.isEmpty()}
        #{list items, as:'item'}
            <tr>
                <td>${item.name}</td>
                <td>${item.price} $</td>
                <td>#{a @Items.edit(item.id)}edit#{/a} #{a @Items.destroy(item.id)}delete#{/a}</td>
            </tr>
        #{/list}
        #{/if}
        #{else}
            <tr>
                <td colspan="4">No item created</td>
            </tr>
        #{/else}

    </tbody>
</table> 