#{extends 'main.html' /}
#{set title:'Restaurant' /}

<header class="page-header"> 
    <h1>Category : ${category.name}</h1>
</header>
<section id="description">
    <div class="offset10">
        <a class="btn btn-warning" href="@{edit(category.id)}">Edit</a>
        <a class="btn btn-danger" href="@{destroy(category.id)}">Delete</a>
    </div>
</section>
<section id="itemList">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Items list</h1>
            </div>
            <div class="offset10">
                <a class="btn btn-success" href="@{Items.create(category.id)}">Add Item</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    #{if !items.isEmpty()}
                    #{list items, as:'item'}
                        <tr>
                            <td>${item.name}</td>
                            <td>${item.price} $</td>
                            <td>#{a @Items.edit(item.id)}edit#{/a} #{a @Items.destroy(item.id)}delete#{/a}</td>
                        </tr>
                    #{/list}
                    #{/if}
                    #{else}
                        <tr>
                            <td colspan="4">No item created</td>
                        </tr>
                    #{/else}

                </tbody>
            </table> 
        </div>
    </div>
</section>